.wrapper-block{
    padding: 0 23px;
    @media(min-width: 480px){
        padding: 0 43px;
        }
    @media(min-width: 768px){
        display: flex;
        flex-wrap: wrap;
        padding: 45px 0;
        justify-content: space-between;
        align-items: center;
    } 
}
.bonus, .notice__block2, .notice__block3{
    padding: 20px 37px;
    @media(min-width: 768px){
        flex-basis: 45%;
    }  
}
.bonus{
    @media(min-width: 768px){
        padding: 20px 0px;
    }
}
.bonus__header, .notice__header, .notice__header2{
    @include text(12px, 'Acrom-Bold');
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    @media(min-width: 480px){
        font-size: 18px;
        }
    @media(min-width: 768px){
        font-size: 26px;
        text-align: left;
    }
    @media(min-width: 960px){
        font-size: 33px;
    }
    @media(min-width: 1200px){
        font-size: 30px;
    }
    @media(min-width: 1440px){
        font-size: 36px;
    }
}   
.black-bg{
    background-color: #000;
    color: #fff;
}
.bonus__title, .notice__elem, .notice__price, .notice__text{
    @include text(9px, 'Acrom-Medium');
    @media (min-width : 480px) and (max-width : 768px){
        font-size: 13.5px;
    }
    @media(min-width: 960px){
        font-size: 11px;
    }
    @media(min-width: 1200px){
        font-size: 10px;
    } 
    @media(min-width: 1440px){
        font-size: 12px;
    }    
}
.bonus__list{
    counter-reset: list;
    @media(min-width: 480px){
        padding-right: 60px;
    }
}
.bonus__title{
    padding-left: 40px;
    text-indent: -9px;
    padding-bottom: 10px;
        &::before {
        content: "\2501";
        position: relative;
        left: -15px;
    }
    @media(min-width: 480px) and (max-width: 768px){
        padding-left: 60px;
        text-indent: -14px;
    }
    @media(min-width: 960px){
        text-indent: -11px;
    }
}
.bonus__discr{
    padding-left: 36px;
    text-indent: -7px;    
    &::before {
        content: "\220E";
        color: $blue-color;
        position: relative;
        left: -12px;
        @media(min-width: 960px){
            left: -23px;
        }
    }
    @media(min-width: 480px){
        padding-left: 47px;
        text-indent: -10px;
    }
    @media(min-width: 768px){
        padding-left: 50px;
        text-indent: -6px;
    }
    @media(min-width: 768px){
        text-indent: -8px;
    }
}
.bonus__item{
    @include text(9px, 'Acrom-ExtraBold');
    display: inline-flex;
    &::before {
        @include text(17px, 'Acrom-ExtraBold');
        counter-increment: list;
        content: counter(list, decimal-leading-zero);
        margin-right: 0.75rem;
        @media(min-width: 480px){
            font-size: 25px;
        }
        @media(min-width: 960px){
            font-size: 21px;
            margin-right: 20px;
        }
        @media(min-width: 1200px){
            font-size: 19px;
        }
        @media(min-width: 1200px){
            font-size: 22px;
        }      
    }
    @media (min-width : 480px) and (max-width : 768px){
        font-size: 14px;
    }
    @media(min-width: 960px){
        font-size: 11px;
    }
    @media(min-width: 1200px){
        font-size: 10px;
    }  
    @media(min-width: 1440px){
        font-size: 12px;
    } 
    
}
.bonus__discr, .notice__text, .notice__end{
    @include text(8px, 'Acrom-Regular');
        padding-bottom: 10px;
    @media (min-width : 480px) and (max-width : 768px){
        font-size: 13px;
    }
    @media(min-width: 960px){
        font-size: 10px;
    }
    @media(min-width: 1200px){
        font-size: 9px;
    } 
    @media(min-width: 1440px){
        font-size: 11px;
    } 
}
.notice{
    @media(min-width: 768px){
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    } 
}
.notice__text-before{
    text-indent: -9px;
    &::before {
        content: "\2571";
        color: #000;
        position: relative;
        left: -15px;
        top: 4px;
    }
    @media (min-width : 480px) and (max-width : 768px){
        text-indent: -14px;
    }
}
.notice-wrapper{
    @media(min-width: 768px){
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
       padding: 60px 0;
       position: relative;
     }
}
.notice__block{
    background-color: #052139;
    color: #fff;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 50px;

    @media (min-width : 480px) and (max-width : 768px){
        padding: 75px;
    }
    @media(min-width: 480px){
        flex-basis: 45%;
    }
    @media(min-width: 960px){
        padding: 70px;
    }
    @media(min-width: 1440px){
        padding: 75px;
    }
}
.notice__elem{
    flex-basis: 40%;
    padding-bottom: 10px;
    @include text(9px, 'Acrom-Medium');
    @media (min-width : 480px) and (max-width : 768px){
        font-size: 13px;
    }
    @media (min-width : 960px) and (max-width : 1200px){
        font-size: 11px;
    }
    @media (min-width : 1440px){
        font-size: 12px;
    }
}
.notice__price{
    flex-basis: 40%;
}
.blue-bg{
    background-color: #16ebfe;
    color: #000;
   }
.big-char{
    @include text(16px, 'Acrom-ExtraBold');
    @media(min-width: 480px){
        font-size: 25px;
    }
}
.notice__bold-text{
    @include text(9px, 'Acrom-Bold');
    @media (min-width : 480px) and (max-width : 768px){
        font-size: 14px;
    }
    @media(min-width: 960px){
        font-size: 11px;
    }
    @media(min-width: 1200px){
        font-size: 10px;
    }   
    @media(min-width: 1440px){
        font-size: 12px;
    } 
}
.orange-text{
    color: $orange-color;
}
.ps__header{
    @include text(12px, 'Acrom-ExtraBold');
    padding: 0 37px;
    @media(min-width: 480px){
        font-size: 20px;
    }
    @media(min-width: 768px){
        padding: 0;
        font-size: 16px;
        flex-basis: 10%;
        padding-top: 20px;
        text-align: end;
        position: relative;
        left: 25px;
    }
    @media(min-width: 960px){
        font-size: 21px;
    }
    @media(min-width: 1200px){
        font-size: 19px;
    }
    @media(min-width: 1440px){
        font-size: 22px;
    }
}
.notice__header2{
    @media(min-width: 768px){
        position: relative;
    }
}
.notice__header{
    @media(min-width: 768px){
    position: absolute;
    right: 119px;
    top: 10px;
    }
    @media(min-width: 1200px){
        right: 80px;
    }
}
.registrate{
    position: relative;
    width: 140px;
    margin: auto;
    &::before{
        content: "GO";
        @include text(68px, 'Acrom-ExtraBold');
        writing-mode: vertical-rl;
        color: #f7f7f7;
        position: absolute;
        left: -80px;
        top: 20px;
        @media(min-width: 480px){
            font-size: 102px;
            left: -115px;
        }
        @media(min-width: 768px){
            font-size: 146px;
            left: 170px;
        }
        @media(min-width: 960px){
            font-size: 182px;
            left: 225px;
        }
        @media(min-width: 1200px){
            font-size: 162px;
            left: 220px;
            top: 25px;
        }    
        @media(min-width: 1440px){
            font-size: 195px;
            left: 208px;
            top: 6px;
        } 
    }
    h2{
        text-align: left;
        width: 80%;
    }
    @media(min-width: 480px){
        width: 220px;
    }
    @media(min-width: 768px){
        margin: 0;
        width: 265px;
    }
    @media(min-width: 960px){
        flex-basis: 43%;
    }
    span{
    position: relative;
    @media(min-width: 768px) and (max-width: 960px){ 
        display: none;
        }
    }
}
.notice__end, .footer__right{
    text-align: right;
}
