.wrapper-block{
    padding: 0 23px;
    @media(min-width: 480px){
        padding: 0 43px;
        }
    @media(min-width: 768px){
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        justify-content: space-between;
    } 
}
.bonus, .notice__block2, .notice__block3{
    padding: 20px 40px;
    @media(min-width: 768px){
        flex-basis: 45%;
    }  
}
.bonus{
    @media(min-width: 768px){
        padding: 20px 0px;
    }
}
.bonus__header, .notice__header, .notice__header2{
    @include text(12px, 'Acrom-Bold');
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    @media(min-width: 480px){
        font-size: 18px;
        }
    @media(min-width: 768px){
        font-size: 26px;
        text-align: left;
    }
}   
.black-bg{
background-color: #000;
color: #fff;
}
.bonus__title, .notice__elem, .notice__price, .notice__text{
    @include text(9px, 'Acrom-Medium');
    @media (min-width : 480px) and (max-width : 768px){
        font-size: 13.5px;
    }
}
.bonus__list{
    counter-reset: list;
    @media(min-width: 480px){
        padding-right: 60px;
    }
}
.bonus__title{
    padding-left: 40px;
    text-indent: -9px;
    padding-bottom: 10px;
        &::before {
        content: "\2501";
        position: relative;
        left: -15px;
    }
    @media(min-width: 480px){
        padding-left: 60px;
        text-indent: -14px;
    }
    @media(min-width: 480px){
        text-indent: -9px;
    }
}
.bonus__discr{
    padding-left: 35px;
    text-indent: -6px;    
    &::before {
        content: "\220E";
        color: #16ebfe;
        position: relative;
        left: -12px;
    }
    @media(min-width: 480px){
        padding-left: 45px;
        text-indent: -10px;
    }
    @media(min-width: 768px){
        padding-left: 48px;
        text-indent: -6px;
    }
}
.bonus__item{
    @include text(9px, 'Acrom-ExtraBold');
    display: inline-flex;
    &::before {
        @include text(17px, 'Acrom-ExtraBold');
        counter-increment: list;
        content: counter(list, decimal-leading-zero);
        margin-right: 0.75rem;
        @media(min-width: 480px){
            font-size: 25px;
        }
    }
    @media (min-width : 480px) and (max-width : 768px){
        font-size: 14px;
    }
}
.bonus__discr, .notice__text, .notice__end{
    @include text(8px, 'Acrom-Regular');
        padding-bottom: 10px;
    @media (min-width : 480px) and (max-width : 768px){
        font-size: 13px;
    }
}
.notice{
    @media(min-width: 768px){
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    } 
}
.notice__text-before{
    text-indent: -9px;
    &::before {
        content: "\2571";
        color: #000;
        position: relative;
        left: -15px;
        top: 4px;
    }
    @media (min-width : 480px) and (max-width : 768px){
        text-indent: -14px;
    }
}
.notice-wrapper{
    @media(min-width: 768px){
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
       padding: 60px 0;
     }
}
.notice__block{
    background-color: #052139;
    color: #fff;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 50px;
    @media (min-width : 480px) and (max-width : 768px){
        padding: 75px;
    }
    @media(min-width: 480px){
        flex-basis: 50%;
    }
}
.notice__elem{
    flex-basis: 40%;
    padding-bottom: 10px;
    @include text(9px, 'Acrom-Medium');
    @media (min-width : 480px) and (max-width : 768px){
        font-size: 13px;
    }
}
.notice__price{
    flex-basis: 40%;
}
.blue-bg{
    background-color: #16ebfe;
    color: #000;
   }
.big-char{
    @include text(16px, 'Acrom-ExtraBold');
    @media(min-width: 480px){
        font-size: 25px;
    }
}
.notice__bold-text{
    @include text(9px, 'Acrom-Bold');
    @media (min-width : 480px) and (max-width : 768px){
        font-size: 14px;
    }
}
.orange-text{
    color: $orange-color;
}
.ps__header{
    @include text(12px, 'Acrom-ExtraBold');
    padding: 0 40px;
    @media(min-width: 480px){
        font-size: 20px;
    }
    @media(min-width: 768px){
        padding: 0;
        font-size: 16px;
        flex-basis: 10%;
        padding-top: 20px;
        text-align: end;
        position: relative;
        left: 25px;
    }
}
.notice__header2{
    @media(min-width: 768px){
        position: relative;
    }
}
.notice__header{
    @media(min-width: 768px){
    position: relative;
    right: -425px;
    top: 75px;
    }
    @media(min-width: 960px){
    right: -480px;
    }
    @media(min-width: 960px){
        right: -500px;
    }
}
.registrate{
    position: relative;
    width: 140px;
    margin: auto;
    &::before{
        content: "GO";
        transform: rotate(90deg);
        @include text(68px, 'Acrom-ExtraBold');
        color: #f7f7f7;
        display: inline-block;
        position: absolute;
        left: -80px;
        top: 32px;
        @media(min-width: 480px){
            font-size: 102px;
            left: -130px;
        }
        @media(min-width: 768px){
            font-size: 146px;
            left: 125px;
        }
    }
    h2{
        text-align: left;
    }
    @media(min-width: 480px){
        width: 220px;
    }
    @media(min-width: 768px){
        margin: 0;
        width: 265px;
        padding-bottom: 45px;
    }
    span{
        @media(min-width: 768px){ 
        display: none;
        }
    }
}
.notice__end, .footer__right{
    text-align: right;
}
