.notice__btn, .form__btn{
    background-color: $orange-color;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 15px;
    border: none;
    display: block;
    margin: 10px auto;
    box-shadow: 5px 7px 20px -7px rgba(255,107,8,1);
    margin-top: 30px;
}
.notice__btn{
    @include text(7px, 'Acrom-ExtraBold');
    @media(min-width : 480px) and (max-width : 768px){
        font-size: 10px;
    }
    @media(min-width : 960px) and (max-width : 1200px){
        font-size: 9px;
    }
    @media(min-width : 1400px){
        font-size: 9px;
    }
}  
.form__btn{
    @include text(5px, 'Acrom-ExtraBold');
    @media(min-width: 480px){
        font-size: 8px;
    }
    @media (min-width : 960px) and (max-width : 1200px){
        font-size: 9px;
    }
} 
.button--hover:hover{
    background-color: $blue-color;
    box-shadow: 5px 7px 20px -7px rgba(116,207,196,1);
    border: 0.5px solid rgb(116, 207, 196)
}
.button--hover:active {
    background-color: #06a4b2;
}
