@font-face {
    font-family: 'Acrom-Bold';
    src: url('../fonts/Acrom-Bold.woff') format('woff');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'Acrom-ExtraBold';
    src: url('../fonts/Acrom-ExtraBold.woff') format('woff');
    font-style: normal;
    font-weight: extrabold;
}

@font-face {
    font-family: 'Acrom-Regular';
    src: url('../fonts/Acrom-Regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Acrom-Medium';
    src: url('../fonts/Acrom-Medium.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'MinionPro-Regular';
    src: url('../fonts/MinionPro-Regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Gilroy-Light';
    src: url('../fonts/Gilroy-Light.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'FuturaDemiC';
    src: url('../fonts/FuturaDemiC.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}