.footer__wrap{
    background-color: #181c27;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 10px;
    font-size: 0;
    .footer__title, .footer__link, .footer__button{
        @include text(3.5px, 'Acrom-ExtraBold');
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        vertical-align: top;
        @media(min-width: 480px){
			font-size: 5px;
		}
    }
    .footer__title{
        padding-bottom: 3px;
    }
    .footer__mailto, .footer__contact{
        text-decoration: none;
        @include text(3.5px, 'Acrom-Regular');
        color: #909092;
        @media(min-width: 480px){
            font-size: 5px;
        }
    }
    .footer__column{
        flex-basis: 15%;
    }
    .footer__btn{
        flex-grow: 1;
        text-align: right;
    }
    .footer__button{
        background-color: #181c27;
        border: 1px solid #1a304c;
        padding: 3px 5px;
    }
}
