// Кнопка перехода ВВЕРХ

.to-top-button {
    display: none;
    width: 37px;
    height: 37px;
    position: fixed;
    right: 3%;
    bottom: 3%;
    svg {
        width: 37px;
        height: 37px;
        fill:#16ebfe;
    }
    svg path {
        fill:inherit;
        stroke:inherit;
        stroke-width:inherit;
    }
    .topbtn {
        transition: .7s ease;
        &:hover {
            transform: scale(1.1);
            transition: .7s ease;
            fill: rgb(89, 95, 109);
        }
    }
}
