$orange-color: #ff6b08;
$blue-color: #16ebfe;
$base-size: 9px;

@mixin text ($size : $base-size, $family:'Acrom-Regular', ) {
	font-size: $size;
	font-family: $family;
}

@mixin img ($src) {
	background: url(../img/#{$src}.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}