@import '_fonts.scss';
@import '_variables.scss';
@import '_footer.scss';
@import '_blocks16-20.scss';
@import '_btn.scss';
@import '_form.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  min-width: 320px;
  max-width: 878px;

  margin: 0 auto;
  padding: 0 12px;
  @media (min-width: 768px){
    padding: 0 65px;
  }
  @media (min-width: 960px){
    padding: 0 80px;
  }
  @media (min-width: 1200px){
    padding: 0 12px;
  }
}


